# project specific
secrets
*env
test-data

# byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class
*.so

# distribution / packaging
build/
dist/
*.egg-info/
*.egg
MANIFEST

# unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml

# environments
.env
.venv
venv/

# mkdocs
/site
docs/analysis/img/

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# logs
*.log
